:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --third-color: rgb(83, 83, 83);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --app-text-align: left;
}

.hero {
  background-color: #6b63ff34;
  top: 0;
  padding-top: 5px;
  padding-bottom: 70px;
}

.feat-project {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 400;
}

h2 {
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
}

h3 {
  margin-top: 0px;
  text-align: center;
  color: var(--third-color);
  margin-bottom: 30px;
}

h4 {
  margin-top: 50px;
  text-align: center;
  color: var(--third-color);
  margin-bottom: 30px;
}

.font-buttons {
  display: flex;
  justify-content: center;
}

.contact-me {
  color: #ffffff;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #6c63ff;
  box-shadow: var(--box-shadow);
  background: #6c63ff;
  border-radius: 5px;
  cursor: pointer;
}

.launch-buttons {
  color: #ffffff;
  margin-right: 15px;
  padding: 20px;
  border: 1px solid #6c63ff;
  box-shadow: var(--box-shadow);
  background: #6c63ff;
  border-radius: 5px;
  cursor: pointer;
}

.launch-buttons:hover {
  background-color: #6b63ff88;
  transition: all 200ms ease-in-out;
  color: #f5f2fe;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.back-to-home {
  color: #6c63ff;
}

.bunny-girl {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.contact-container {
  text-align: center;
}
.contact-line {
  color: #6c63ff;
  text-decoration: none;
}

.contact-me:hover {
  background-color: #6b63ff88;
  transition: all 200ms ease-in-out;
}
.about-me {
  color: #6c63ff;
  margin-left: 15px;
  padding: 20px;
  border: 1px solid #6c63ff;
  cursor: pointer;

  background: transparent;
  border-radius: 5px;
}

.about-me-content {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.5;
  text-align: center;
}

.box-left {
  background: #6b63ff31;
  padding: 20px;
  margin: 15px 15px 15px 300px;
}

.box-right {
  background: #6b63ff31;
  padding: 20px;
  margin: 15px 300px 15px 15px;
}

.backto {
  text-align: center;
}

.yoga-app,
.weather-app,
.yogurt-app {
  margin-top: 60px;
  margin-bottom: 40px;
}

.app-header {
  text-align: var(--app-text-align);
  font-size: 48px;
  margin-top: 0px;
}

.app-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.about-me-text {
  font-size: 18px;
  padding: 10px;
}

.about-pic {
  max-width: 420px;
}

.row {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 680px) {
  h1 {
    padding-bottom: 10px;
  }

  .launch-buttons {
    color: #ffffff;
    margin-right: 15px;
    padding: 15px;
    border: 1px solid #6c63ff;
    box-shadow: var(--box-shadow);
    background: #6c63ff;
    border-radius: 5px;
    cursor: pointer;
  }

  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 575px) {
  h1 {
    margin-top: 10px;
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  img {
    display: none;
  }

  .app-header {
    text-align: center;
    font-size: 40px;
  }

  .app-text {
    text-align: center;
  }

  .col-6 {
    width: 50%;
  }

  .launch-buttons {
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #6c63ff;
    box-shadow: var(--box-shadow);
    background: #6c63ff;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-hype {
    text-align: center;
  }
}
